
#main{
    display: flex;
    flex-direction: column;
    background-color: rgba(233, 224, 224, 0.87);
    margin-top: -15px;
    margin-right: 415px;
    margin-left: 10pc;
    padding-left: 2pc;
}
header{
    background-color: black;
    color: blanchedalmond;
    padding-top: 3px;
}
#aside{
    float: right;
    background-image: url("/first_page/img/lovely_planet.jpg");
    padding-right: 10pc;
    margin-bottom: 80pc;
}
nav{
    background-color: rgba(86, 86, 172, 0.377);
    float: left;
    padding-right: 30px;
    margin-top: -15px;
}
.main_paragraph{
    margin-top: -10px;
}
#check{
    
}
#second_div_in_aside{
    
}

#first-ori{

}